include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include edu_quality *.css
recursive-include edu_quality *.csv
recursive-include edu_quality *.html
recursive-include edu_quality *.ico
recursive-include edu_quality *.js
recursive-include edu_quality *.json
recursive-include edu_quality *.md
recursive-include edu_quality *.png
recursive-include edu_quality *.py
recursive-include edu_quality *.svg
recursive-include edu_quality *.txt
recursive-exclude edu_quality *.pyc