/* .mark-entry-tool-report [data-col-index="2"],
.mark-entry-tool-report [data-col-index="1"] {
  position: sticky;
  left: 0;
  z-index: 2;
}

.mark-entry-tool-report [data-col-index="2"] {
  left: 100px;
} */

.mark-entry-tool-report .dt-instance-1 .dt-cell__content {
  width: 75px !important;
  padding-right: 5px;
}
.mark-entry-tool-report .datatable .dt-row {
  height: auto;
}

.mark-entry-tool-report [data-is-header="1"] {
  height: auto !important;
  text-align: left;
}

.mark-entry-tool-report [data-is-header="1"] > div {
  text-overflow: unset;
  white-space: normal;
  overflow: unset;
}
.mark-entry-tool-report .report-footer {
  display: none !important;
}
.mark-entry-tool-report .dt-cell--focus .dt-cell__content {
  border: var(--dt-focus-border-width) solid transparent !important;
}

.mark-entry-tool-report .absent-input {
  background-color: var(--red-300);
}
.mark-entry-tool-report .submitted-input {
  background-color: var(--blue-300);
}
