<table
  border="1"
  cellpadding="5"
  cellspacing="0"
  style="border-collapse: collapse; width: 100%"
>
  <tr>
    <td colspan="3">
      {% if mode == "class" %} Class: <strong>{{title}}</strong>
      <br />
      {% elif mode == "division" %} Division: <strong>{{title}}</strong>
      <br />
      <em>If subject wise, show subject here</em>
      {% elif mode == "subject" %} Subject: <strong>{{title}}</strong>
      {% endif %}
    </td>
  </tr>
  <tr>
    {% for rank in range(1, 4) %}
    <th style="text-align: center">Rank {{rank}}</th>
    {% endfor %}
  </tr>
  <tr>
    {% set current_rank = 1 %} {% set current_percentage =
    students[0]['percentage'] %} {% for student in students %} {% if
    student['percentage'] != current_percentage %} {% set current_rank =
    loop.index %} {% set current_percentage = student['percentage'] %} {% endif
    %}
    <td style="text-align: center">
      <img
        src="{{student['image']}}"
        width="100"
        height="100"
        alt="Rank {{current_rank}} Image"
      />
      <br />
      {{student['first_name']}} {{student['middle_name']}}
      {{student['last_name']}}
      <br />
      Rank: {{current_rank}}
    </td>
    {% endfor %}
  </tr>
</table>
