<style>
  @import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
  @page {
    size: A4 Landscape;
    margin: 0;
    padding: 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .content-container {
    display: flex;
    flex-direction: row;
  }
  
  .content {
    width: 50%;
    padding-top: 175px;
    padding-left: 135px;
  }

  .content p {
    font-family: "Marko One", serif;
    font-size: 10.5pt;
  }

  #name {
    color: rgb(0, 0, 0);
    font-size: 12pt;
  }

  #special_day {
    color: rgb(1, 164, 84);
  }

  #traits {
    color: rgb(248, 1, 134);
  }

  #info {
    color: rgb(0, 0, 0);
  }
</style>

{% for card in cards %}
<div class="content-container">
  <div class="content">
    <p id="name">{{card.student_name}}</p>
    <p id="special_day">The Special Day: {{card.special_day}}</p>
    {% if card.has_traits %}
        <p id="traits">These are a few of my favourite things </p>
    {% for trait in card.traits%}
        {% if trait.description %}
          {% if trait.trait_type == "Activity" %}
          <p style="color: rgb(1, 164, 84);";">{{trait.trait_type}}: {{trait.description}}</p>
          {% endif %}
          {% if trait.trait_type =="Book" %}
            <p style="color: rgb(255, 120, 37);">{{trait.trait_type}}: {{trait.description}}</p>
          {% endif %}
          {% if trait.trait_type =="Food" %}
          <p style="color: rgb(250, 1, 70);">{{trait.trait_type}}: {{trait.description}}</p>
          {% endif %}
          {% if trait.trait_type =="Ambition" %}
            <p style="color: rgb(0, 144, 216);">{{trait.trait_type}}: {{trait.description}}</p>
          {% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}
    <p id="info"> I am {{card.age}} years old and studying in class {{card.program_name}} </p>
  </div>
</div>
{% if not loop.last %}
<p style="break-before: page;"></p>
{% endif %}
{% endfor %}