
{%- block head_include %}
<link rel="stylesheet" href="{{site_url}}/assets/frappe/css/fonts/fontawesome/font-awesome.min.css">
{% endblock -%}
<style>
  @page {
    size: A4 Landscape;
    margin: 0;
    padding: 0;
  }

  @font-face {
      font-family: "Arial";
      src: url("/assets/edu_quality/fonts/arial.ttf");
      font-weight: normal;/* EOT file for IE */
    }
    @font-face {
      font-family: "Arial";
      src: url("/assets/edu_quality/fonts/arialbd.ttf");
      font-weight: bold; /* EOT file for IE */
    }
    @font-face {
      font-family: "Arial";
      src: url("/assets/edu_quality/fonts/arialbd.ttf");
      font-weight: 600; /* EOT file for IE */
    }
    @font-face {
      font-family: "Arial";
      src: url("/assets/edu_quality/fonts/arialbd.ttf");
      font-weight: 800; /* EOT file for IE */
    }
    @font-face {
      font-family: "Arial";
      src: url("/assets/edu_quality/fonts/arialbd.ttf");
      font-weight: 900; /* EOT file for IE */
    }
  .page {
    display: flex;
    padding-left:12px;
    padding-right: 12px;
    width: 100%;

  }

  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
</style>

{% for enrollment_array in program_enrollments %}
<div class="container-fluid page">

    {% for enrollment in range(0,(enrollment_array|length)) %}
    {% set enroll_template =
    render_template_with_exception("edu_quality/templates/pdf/permanent_id_card.html",{'doc':enrollment_array[enrollment],
    'bg_image': background_images[enrollment_array[enrollment].name], 'div_name': divisions[enrollment_array[enrollment].name],
    'house': house_colors[enrollment_array[enrollment].name], 'site_url': site_url, 'batch_num': batch_numbers[enrollment_array[enrollment].name]})  %}
    {% if enroll_template %}
        {{enroll_template}}
        {% else %}
        <div class="parent-container">
          <div class="cut-mark-container" style="margin-top:10px;padding-bottom: 5px;"><div class="left"><div class="cut-mark-circle"><div class="horizontal"></div><div class="vertical"></div></div></div><div class="right"><div class="cut-mark-circle"><div class="horizontal"></div><div class="vertical"></div></div></div></div>
          <div class="front">


          </div>
          <div class="cut-mark-container" style="padding-bottom: 5px;padding-top: 5px;">
            <div class="cut-mark-container-two">
              <div class="left">
              <div class="cut-mark-circle "><div class="horizontal"></div><div class="vertical"></div></div>
              <div class="cut-mark-circle "><div class="horizontal"></div><div class="vertical"></div></div></div>
            </div>

            <div class="cut-mark-container-two">
              <div class="right">
              <div class="cut-mark-circle"><div class="horizontal"></div><div class="vertical"></div></div>
              <div class="cut-mark-circle"><div class="horizontal"></div><div class="vertical"></div></div></div>
            </div>

          </div>
          <div
            class="back"

          >


          </div>
          <div class="cut-mark-container" style="padding-top: 5px;" ><div class="left"><div class="cut-mark-circle"><div class="horizontal"></div><div class="vertical"></div></div></div><div class="right"><div class="cut-mark-circle"><div class="horizontal"></div><div class="vertical"></div></div></div></div>
        </div>

        {% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}