{% set letter_head = frappe.get_doc("Letter Head","Walnut School") %}
{% set student_data = frappe.get_doc("Student",doc.student) %}
{% set id_card_data = frappe.get_doc("Student ID Card",doc.custom_id_card) %}
{% set guardians = [] %}
{% for guardian in student_data.guardians %}
{% set temp_guard = frappe.get_doc("Guardian",guardian.guardian,fields=["mobile_number,mobile_number"]).mobile_number %}
{% if guardians.append(temp_guard) %} {% endif %} {% endfor %}
{% set division_data = frappe.get_doc("Student Group",doc.student_group) %}
{% set school = frappe.get_doc("School", doc.school) %}

<style>
  * {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .qr-image-size {
    width: 3.5em;
    height: 3.5em;
    margin-left: 5em;
    margin-right: 2em;
  }

  .student-image-size {
    width: 7em;
    height: 7em;
    margin: 0.5em 0 0.5em 1em;
    position: relative;
    top: -3px;
    right: -4px;
  }

  .front {
    width: 220px;
    height: 350px;
    margin: 5px;
    padding-bottom: 1em;
    background-image: url("{{bg_image}}");
    background-size: cover;
  }

  .back {
    width: 220px;
    height: 350px;
    margin: 5px;
    border: 1px solid #ccc;
    font-size: 10px;
    font-weight: bold;
    background-image: url("{{school.id_card_template_back}}");
    background-size: cover;
    transform: rotate(180deg);
  }

  .container {
    padding: 5px;
  }

  .detail-container {
    display: flex;
    gap: 4px;
    width: 100%;
  }

  .academic-details {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .academic-details h3 {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    line-height: 10px;
    display: flex;
  }

  .academic-year {
    display: flex;
    gap: 4px;
    text-align: center;
    font-size: 16px;
    right: -10px;

  }

  .student-name {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 10px;
  }

  .student-name p {
    width: max-content;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  .custom-border {
    border: 1px solid black;

  }

  .reference-container {
    display: flex;
  }

  .ref-col-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }

  .ref-col-container h2 {
    font-size: 18pt;
    font-weight: 700;
    color: red;
    line-height: 50px;
  }

  .pickup-bus {
    font-size: 23pt;
    font-weight: 700;
    color: red;
    margin: 1em auto;
  }

  .student-info {
    width: 200px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-direction: column;
    height: max-content;
    margin-top: 20px;
    margin-left: 10px;
  }

  .student-info p {
    width: 180px;
    display: flex;
    gap: 4px;
    position: relative;
  }

  .address-info {
    display: flex;
    flex-wrap: wrap;
  }

  .address {
    margin-top: 100px;
    margin-left: 10px;
    font-size: 10pt;
  }

  .address-info p {
    font-size: 9pt;
    margin-left: 4px;
    font-weight: 500;
  }

  .school-data {
    text-align: center;

  }

  .tiffin-text {
    margin-left: 110px;
    margin-top: -115px;
    transform: rotate(270deg);
  }
  .tiffin-text p{
    font-size: 8pt;
    font-weight: 600;
  }

  .student-image {
    margin-top: 95px;
  }

  .student-details {
    margin-left: 30px;
  }

  #house {
    display: inline-block;
    width: 30px;
    height: 30px;

    background-color: {
        {
        house
      }
    }

    ;
    border-radius: 50%;
    /* this makes it a circle */
  }
</style>

<div class="container">
  <div class="front">
    <div class="container">
      <div class="row student-image">
        <img src="{{doc.image}}" class="student-image-size" alt="Student Photo">
        <div class="student-details">
          {% if doc.transport_service_required %}
          <h1 class="pickup-bus" style="color: white">{{doc.drop_bus}}</h1>
          {% else %}
          <h1 class="pickup-bus">M1</h1>
          {% endif %}
          <span id="house"></span>
        </div>
      </div>
      <div class="reference-container">
        <div class="ref-col-container">
          <h2 {% if doc.transport_service_required %}style="color: white" {% endif %}>{{div_name}}</h2>
        </div>
        <div class="ref-col-container">
          <h2 {% if doc.transport_service_required %}style="color: white" {% endif %}>
            {{student_data.custom_reference_number or student_data.reference_number}}
          </h2>
        </div>
      </div>

    </div>
    <div class="detail-container">
      <div class="student-name">
        <p>{{student_data.first_name}}</p>
        <p>{{student_data.last_name}}</p>
      </div>
      <div class="academic-details">
        <div class="academic-year">
          <h3>  </h3>
          <h3>{{doc.academic_year}}</h3>
        </div>
        <img src="{{id_card_data.qr_code}}" class="qr-image-size" alt="QR Code">
      </div>
    </div>
  </div>
</div>

<div class="back">
  <div class="address">
    <h3>ADDRESS: </h3>
    <div class="address-info">
      <p>{{student_data.address_line_1 or ''}}</p>
      <p>{{student_data.address_line_2 or ''}}</p>
      <p>{{student_data.city or ''}}</p>
      <p>{{student_data.pincode or ''}}</p>
    </div>
  </div>

  <div class="student-info">
    <div style="margin: 0 4px 0 0;">
      <p>ROLL No: {{doc.roll_no}}</p>
      <p>ACADEMIC YEAR: {{doc.academic_year}}</p>
      <p>PHONE: {{student_data.student_mobile_number}}</p>
    </div>
    <div style="margin: 10px 4px 0 0;">
      <p>BLOOD GROUP: {{student_data.blood_group}}</p>
      <p>DATE OF BIRTH: {{student_data.date_of_birth}}</p>
    </div>
    <div class="tiffin-text">
      <p>{{doc.tiffin_rack_no}}</p>
    </div>
  </div>
</div>
</div>
</div>