<style>
  @page {
    size: 2480px 831px;
  }
  @font-face {
    font-family: "Asap";
    src: url("/assets/edu_quality/fonts/Asap-Regular.ttf"); /* EOT file for IE */
  }
  @font-face {
    font-family: "Pachyderm";
    src: url("/assets/edu_quality/fonts/PACHYDER.TTF"); /* EOT file for IE */
  }
  * {
    box-sizing: border-box;
  }
  .heading {
    font-size: 18pt;
    font-family: "Pachyderm";
  }
  .document {
    /* width: 2480px;
    height: 831px; */
    padding-left: 61px;
    padding-right: 57px;
  }
  .qr-code-image {
    height: 122px;
    width: 126px;
    margin-bottom: 44px;
  }
  .qr-container {
    padding: 0 12px;
  }
  .rotated {
    position: absolute;
    writing-mode: tb-rl;
    transform: rotate(-90deg);
    transform-origin: center;
    translate: (-50%, -50%);
    left: 20%;
    font-size: 9pt;
    font-family: "Asap";
  }
  /* .rotated {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 9pt;
    font-family: "Asap";
  } */
  .heading-space {
    display: flex;
    justify-content: space-between;
  }
  .rotated-container {
    position: relative;

    width: 126px;
  }
</style>
<div class="document">
  <div class="heading-space">
    <h1 class="heading">{{subject_name}}</h1>
    <h1 class="heading">{{chapter_name}}</h1>
  </div>
  <div class="qr-container">
    <img src="{{ qr_code }}" class="qr-code-image" />
    <div class="rotated-container">
      <div class="rotated">{{ worksheet_name }}</div>
    </div>
  </div>
</div>
